{% extends 'base.html.twig' %}

{% block title %}Around Bank | Investir {% endblock %}

{% block content %}
      <!-- Investissement -->
      <section class="bg-secondary py-5 py-md-6 mt-n4">
        <div class="container py-2">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 text-center"> 
              <h2>Investissement</h2>
              <p class="text-muted mb-5 pb-2"> Nos proposons nos services d'investissement dans différents secteurs</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/01.jpg')}}" alt="Life Science">
                <div class="card-body">
                  <h3 class="h5 mb-0">Science</h3>
                </div></a></div>
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/02.jpg')}}" alt="Technology">
                <div class="card-body">
                  <h3 class="h5 mb-0">Robotique </h3>
                </div></a></div>
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/03.jpg')}}" alt="Healthcare">
                <div class="card-body">
                  <h3 class="h5 mb-0">Flux boursier</h3>
                </div></a></div>
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/04.jpg')}}" alt="Natural Resources">
                <div class="card-body">
                  <h3 class="h5 mb-0">Ressources naturelles  </h3>
                </div></a></div>
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/05.jpg')}}" alt="Freight &amp; Logistics">
                <div class="card-body">
                  <h3 class="h5 mb-0">Transport maritime </h3>
                </div></a></div>
            <div class="col-lg-4 col-sm-6 mb-grid-gutter"><span class="card card-hover border-0 shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="{{ asset('assets/img/demo/business-consulting/industries/06.jpg')}}" alt="Retail">
                <div class="card-body">
                  <h3 class="h5 mb-0">Agro-alimentaire</h3>
                </div></a></div>
          </div>
        </div> 
        <div class="py-2 mx-auto text-center">
            <h2 class="">En savoir plus sur le processus d'investissemnt?</h2>
            <p class="mb-4"> Envoyez-nous un message par mail</p>
            <center>
                <form class="input-group pt-2"  style="max-width: 450px;">
                    <input class="form-control" type="email" placeholder="Votre email" required>
                    <button class="btn btn-success" type="submit"><i class="ai-send fs-xl me-1"></i></button>
                </form>
            </center> 
          </div> <br> <br>
          <div  class="container" >
            <h2>Services de la banque d'investissement</h2>

            <h4>Particularités de la banque d'investissement  </h4> 
            <div>
              Aussi appelée banque d'affaires, la banque d'investissement s'occupe plus généralement des activités de marchés.
              La banque d'investissement est l'une des organisations particulières de la banque, comme la banque privée et la banque de dépôt. Elle d'adresse particulièrement aux grandes entreprises.
            </div> <br>

            <h4>Banque d'investissement : clientèle concernée</h4> 
            <div>
              Une banque d'investissement a pour clientèle les entreprises matures. Elle apporte ses services aux grandes entreprises pour les accompagner dans leurs différentes opérations financières. Il peut s'agir d'une banque spécialisée dans l'investissement ou une division spécialisée au sein d'une banque « classique ». <br>
              La banque d'investissement se différencie généralement de la banque d'affaires par le fait qu'elle s'occupe principalement des activités de marchés, alors que la banque d'affaires s'occupe des finances. Mais la distinction est très faible et les banques ont tendance à inclure ces 2 types de services. <br>
              Elle les soutient pour les activités de : 
              <div class="container">
                -  Corporate finance : financement des entreprises et conseil ; <br>
                -  Global capital markets : opérations sur les marchés financiers ou intermédiation ; <br>
                -  Structured finance : opérations de financement de haut de bilan (introduction en bourse, fusion-acquisition...). <br> 
              </div> <br>
              <span class="text-info">Bon à savoir :</span>  un grand nombre de banques d'investissement en Europe fait partie de groupes bancaires proposant également des activités de banque de dépôt. <br> <br>
              Une banque d'investissement offre des services personnalisés à chaque client. Elle accompagne et conseille les grandes entreprises pour :

              <!-- Unstyled list -->
              <ul class="list-unstyled">
                <ul>
                  <li>leur introduction en bourse ; </li>
                  <li>leur augmentation de capital ;</li>
                  <li>les fusions et acquisitions ;</li>
                  <li>les OPA (offre publique d'achat), OPE (offre publique d’échange), OPV (offre publique de vente) ;</li>
                  <li>leurs opérations financières complexes ;</li>
                  <li>le courtage financier ;</li> 
                  <li>etc.</li>
                </ul>
              </ul>
            En plus de cela, lorsqu'une banque d'investissement fait partie d'un groupe bancaire, elle peut proposer un compte bancaire et des moyens de paiement. <br> <br>
                        
            <h4>Particularités de la banque d'investissement</h4> 
            <div class="container">
              Les clients des banques d'investissement sont : 

              <ul class="list-unstyled">
                <ul>
                  <li>les entreprises ;</li>
                  <li>les investisseurs qui veulent : 
                      <ul>
                        <li>se financer ;</li>
                        <li>placer leurs liquidités.</li>
                      </ul>
                  </li>
                </ul>
              </ul>
              Les banques d'investissement ne reçoivent donc pas de dépôts de particuliers. Elles vont alors chercher la liquidité nécessaire auprès :
              <ul class="list-unstyled">
                <ul>
                  <li>des autres banques (marché interbancaire) ;</li>
                  <li>des marchés monétaires (marchés financiers dédiés aux devises et aux placements à court terme, très liquides, où interviennent les grandes entreprises) ;</li>
                  <li>de la Banque centrale.</li>
                </ul>  
            </div>
            Les banques d'investissement ont un fort taux de rentabilité, car elles ont une activité risquée (et le rendement est lié au risque). <br> <br>
            <span class="text-info">Bon à savoir </span>:  en cas de crise de liquidité, les banques d'investissement sont donc logiquement les premières victimes. De plus, leur fonctionnement est basé sur la confiance. <br> <br>
            
            <h6>Qu’est ce qu’une banque d’investissement, que fait-elle de si singulier ? Mon chargé de clientèle appartient-il à une banque d’investissement ? Est-il menacé par la mort annoncée par certains des banques d’investissement ?</h6> 
            <div>
              Pour comprendre ce qu’est une banque d’investissement, il faut d’abord savoir ce qu’elle ne fait pas. Elle ne reçoit pas les dépôts des particuliers. <br>
              Avant sa faillite, vous n’auriez pas pu ouvrir un compte chez Lehman Brothers ; vous ne le pouvez pas davantage chez Goldman Sachs ou JP Morgan, ni en France chez Natixis ou Calyon, filiales de grands groupes connus. <br>
              La banque a bien des clients, mais il s’agit essentiellement d’entreprises et d’investisseurs qui recherchent, soit à se financer soit à placer leurs liquidités. Ne recevant pas de dépôts des particuliers, les banques d’investissement indépendantes recherchent la liquidité auprès des autres banques, ou de la Banque centrale, ce qui explique en partie qu’en cas de crise de liquidité, elles soient les premières touchées. <br>
              Les banques d’investissement ont essentiellement trois types d’activités. <br>
              Le premier est hérité des banques dites d’affaires et consiste à faire du conseil, notamment en fusion-acquisition. <br>
              L’autre ensemble d’activités est lié au financement des entreprises. Les banques d’investissement organisent les augmentations de capital, les introductions en bourse, le lancement d’emprunts obligataires. <br>
              Enfin, le troisième type d’activités vise à trouver les placements financiers ou les couvertures les plus rentables. La banque sert d’intermédiaire à ses clients sur les marchés financiers et sur les marchés des changes. <br>
              <br>
              Un fonds d’investissement recherche une rentabilité maximum avec un fort effet de levier ? La banque l’accompagne dans un LBO, ou conçoit des produits complexes utilisant notamment des dérivés parfois intégrés dans des véhicules de titrisation. <br>
              Ces activités ont été extrêmement rentables ces dernières années, ce qui explique qu’en France, même les banques traditionnellement de détail s’y soient mises, au travers de filiales parfois distinctes, mais toujours rattachées à leur maison-mère. <br>
              Pourquoi une telle rentabilité ? Sans doute parce que tout le monde y croyait, la confiance étant un élément clé dans ces matières. Et certainement aussi parce que l’activité était risquée, et, comme on le sait, le rendement est lié au risque. <br>
              Mais tout le monde avait oublié ou minimisé les risques liés à l’utilisation d’outils complexes comme les dérivés de crédit et la titrisation, dont l’objet même était de sortir les risques du bilan des banques. Sortis de leurs bilans, mais revenus en boomerang affecter le bilan des banques d’investissement jusqu’à provoquer la faillite ou la disparition des plus connues d’entre elles, notamment Lehman Brothers. <br>
            </div>
          </div>
          </div>
      </section>
    </main>
{% endblock %}